// https://yalter.github.io/niri/Configuration%3A-Miscellaneous.html

environment {
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    GTK_THEME "Adwaita:dark"
    QT_QPA_PLATFORMTHEME "qt6ct"
}

spawn-sh-at-startup "desktop-settings"
spawn-sh-at-startup "swaybg --image ~/media/wallpapers/alena-aenami-all-i-need-1080p.jpg"
spawn-sh-at-startup "waybar"
spawn-sh-at-startup "mako"
spawn-sh-at-startup "swayosd-server"
spawn-sh-at-startup "foot --server"
