// https://yalter.github.io/niri/Configuration%3A-Named-Workspaces.html

workspace "web"
workspace "vlt"
workspace "dev"
workspace "snd"

spawn-at-startup "brave"
window-rule {
    match at-startup=true app-id="brave"

    open-on-workspace "web"
    default-column-width { proportion 0.98; }
}

spawn-at-startup "obsidian"
window-rule {
    match at-startup=true app-id="obsidian"

    open-on-workspace "vlt"
    open-focused false
    default-column-width { proportion 0.98; }
}

spawn-at-startup "code"
window-rule {
    match at-startup=true app-id="code"

    open-on-workspace "dev"
    open-focused false
}

spawn-at-startup "bitwig-studio"
window-rule {
    match at-startup=true app-id="bitwig"

    open-on-workspace "snd"
    open-focused false
}
