* {
    border: none;
    margin: 0;
    padding: 0;
}

#waybar {
    background-color: black;
    color: #bbb;
    font-family: "Terminus", sans-serif;
    font-size: 14px;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    color: #bbb;
    font-weight: normal; /* bold by default */
}
#workspaces button.empty {
    color: #777;
}
#workspaces button.active {
    color: #33ccff;
    font-weight: bold;
}
#workspaces button.urgent {
    color: #c9545d;
}

#pulseaudio.muted {
    color: red;
}

/* The order of these is important. `.charging` needs to go last, or it won't be applied. */
#battery.warning {
    color: yellow;
}
#battery.critical {
    color: red;
}
#battery.charging {
    color: white;
}

#network.disconnected {
    color: red;
}

#language {
    color: #33ccff;
    font-weight: bold;
}
