// https://yalter.github.io/niri/Configuration%3A-Key-Bindings.html

// Get a list of bindable actions:
//   $ niri msg action -h | less

binds {
    Mod+Shift+Delete { quit skip-confirmation=true; }
    Mod+Backspace { close-window; }
    Mod+Shift+P { power-off-monitors; }
    Mod+F12 { switch-layout "next"; }

    // MODALS

    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Space { spawn "wlr-which-key"; }
    Mod+Delete { spawn "wlr-which-key" "--initial-keys" "p"; }

    Mod+Return { spawn "trm"; }
    Mod+Apostrophe { spawn "kitten" "quick-access-terminal"; }

    Mod+R { spawn "fuzzel"; }
    Mod+P { spawn "tui-term" "open-project"; }
    Mod+O { spawn "tui-term" "open-bookmark"; }
    Mod+S { spawn "save-clipped-url"; }

    // TABS

    Mod+Backslash { focus-window-down-or-top; }

    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // LAYOUT

    Mod+F { switch-preset-column-width; }

    Mod+C { center-column; }
    Mod+Shift+C { center-visible-columns; }

    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // FOCUS

    Mod+Left { focus-column-left; }
    Mod+Down { focus-workspace-down; }
    Mod+Up { focus-workspace-up; }
    Mod+Right { focus-column-right; }

    Mod+H { focus-column-left; }
    Mod+J { focus-workspace-down; }
    Mod+K { focus-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }

    Mod+Tab { focus-window-previous; }

    Mod+Grave repeat=false { toggle-overview; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // MOVE COLUMN

    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Down { move-column-to-workspace-down; }
    Mod+Shift+Up { move-column-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-column-to-workspace-down; }
    Mod+Shift+K { move-column-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End { move-column-to-last; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // MOVE WORKSPACE

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up { move-workspace-up; }

    // VOLUME KEYS

    XF86AudioLowerVolume { spawn "swayosd-client" "--output-volume" "lower"; }
    XF86AudioRaiseVolume { spawn "swayosd-client" "--output-volume" "raise"; }
    XF86AudioMute { spawn "swayosd-client" "--output-volume mute-toggle"; }
    XF86AudioMicMute { spawn "swayosd-client" "--input-volume" "mute-toggle"; }

    // BRIGHTNESS KEYS

    XF86MonBrightnessDown { spawn "swayosd-client" "--brightness" "lower"; }
    XF86MonBrightnessUp { spawn "swayosd-client" "--brightness" "raise"; }
    Shift+XF86MonBrightnessDown { spawn "swayosd-client" "--brightness" "0"; }
    Shift+XF86MonBrightnessUp { spawn "swayosd-client" "--brightness" "100"; }

    // SCREENSHOTS

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
