// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

//------------------------------------------------------------------------------
// BINDS

// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

// Get a list of bindable actions:
//   $ niri msg action -h | less

// Run a command inside of a shell:
//   { spawn "sh" "-c" "notify-send Hello \"OH, HAI!\""" }

binds {
    Mod+Shift+Delete { quit skip-confirmation=true; }
    Mod+Backspace { close-window; }

    Mod+Space {
        spawn "wlr-which-key";
    }

    Mod+Return hotkey-overlay-title="Terminal" {
        spawn "uh" "term";
    }
    Mod+Apostrophe hotkey-overlay-title="Console" {
        spawn "uh" "console";
    }
    Mod+Semicolon hotkey-overlay-title="Music player" {
        spawn "uh" "music";
    }

    // CONTROL

    Mod+F12 { switch-layout "next"; }

    Mod+Shift+P { power-off-monitors; }
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Comma hotkey-overlay-title="Settings" {
        spawn "better-control";
    }
    Mod+Shift+Comma hotkey-overlay-title="Audio settings" {
        spawn "pavucontrol";
    }

    // APPLICATIONS

    Mod+B hotkey-overlay-title="Browser" {
        spawn "uh" "browser";
    }
    Mod+D hotkey-overlay-title="DAW" {
        spawn "uh" "daw"
    }
    Mod+Y hotkey-overlay-title="File manager" {
        spawn "uh" "file-manager";
    }

    // MODALS

    Mod+R {
        spawn "fuzzel";
    }
    Mod+O {
        spawn "uh" "visit";
    }
    Mod+S {
        spawn "uh" "bookmark";
    }
    Mod+P {
        spawn "uh" "edit";
    }

    // TABS

    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Backslash { focus-window-down-or-top; }

    // LAYOUT

    Mod+F { switch-preset-column-width; }
    Mod+Shift+F { fullscreen-window; }

    Mod+C { center-column; }
    Mod+Shift+C { center-visible-columns; }

    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // FOCUS

    Mod+Left { focus-column-left; }
    Mod+Down { focus-workspace-down; }
    Mod+Up { focus-workspace-up; }
    Mod+Right { focus-column-right; }

    Mod+H { focus-column-left; }
    Mod+J { focus-workspace-down; }
    Mod+K { focus-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }

    Mod+Tab { focus-window-previous; }

    Mod+Grave repeat=false { toggle-overview; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // MOVE COLUMN

    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Down { move-column-to-workspace-down; }
    Mod+Shift+Up { move-column-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-column-to-workspace-down; }
    Mod+Shift+K { move-column-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End { move-column-to-last; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // MOVE WORKSPACE

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up { move-workspace-up; }

    // VOLUME KEYS

    XF86AudioLowerVolume hotkey-overlay-title="Decrease volume" {
        spawn "swayosd-client" "--output-volume" "lower";
    }
    XF86AudioRaiseVolume hotkey-overlay-title="Increase volume" {
        spawn "swayosd-client" "--output-volume" "raise";
    }
    XF86AudioMute hotkey-overlay-title="Mute/unmute sound" {
        spawn "swayosd-client" "--output-volume" "mute-toggle";
    }
    XF86AudioMicMute hotkey-overlay-title="Mute/unmute microphone" {
        spawn "swayosd-client" "--input-volume" "mute-toggle";
    }

    // BRIGHTNESS KEYS

    XF86MonBrightnessDown hotkey-overlay-title="Decrease brightness" {
        spawn "swayosd-client" "--brightness" "lower";
    }
    XF86MonBrightnessUp hotkey-overlay-title="Increase brightness" {
        spawn "swayosd-client" "--brightness" "raise";
    }
    Mod+XF86MonBrightnessDown hotkey-overlay-title="Set minimum brightness" {
        spawn "swayosd-client" "--brightness" "0";
    }
    Mod+XF86MonBrightnessUp hotkey-overlay-title="Set maximum brightness" {
        spawn "swayosd-client" "--brightness" "100";
    }

    // SCREENSHOTS

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

//------------------------------------------------------------------------------
// SETTINGS

prefer-no-csd // Remove window decorations

screenshot-path "~/dl/screenshot-%Y-%m-%d-%H-%M-%S.png"

output "eDP-1" {
    scale 1
}

input {
    workspace-auto-back-and-forth

    keyboard {
        xkb {
            layout "us,se"
        }
    }

    touchpad {
        natural-scroll
        dwt // Disable while typing
        click-method "clickfinger"
    }

    mouse {
        natural-scroll
    }
}

// Disable middle-click paste
clipboard {
    disable-primary
}

gestures {
    hot-corners {
        off
    }
}

layout {
    gaps 8
    background-color "transparent"
    // center-focused-column "on-overflow"
    center-focused-column "never"
    default-column-display "tabbed"

    default-column-width { proportion 0.49; }
    preset-column-widths {
        proportion 0.49
        proportion 0.98
    }

    border {
        width 1

        // The default colors
        active-color "#7fc8ff"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    focus-ring {
        off
        width 2

        // The default colors
        active-color "#7fc8ff"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    tab-indicator {
        position "top"
        place-within-column // So it doesn't spill out into the upper gap
        hide-when-single-tab
        length total-proportion=1.0 // Stretch across the full width of the column
        width 4
        gaps-between-tabs 8
    }
}

overview {
    // zoom 0.3
}

debug {
    // Make xdg-activation work in more cases.
    // I.e., the thing where an app asks to be focused, and the WM focuses it.
    // Without this, Firefox won't gain focus when I run:
    // xdg-open https://calendar.google.com/
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    skip-at-startup
}

//------------------------------------------------------------------------------
// INFRASTRUCTURE

environment {
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    GTK_THEME "Adwaita:dark"
}

spawn-at-startup "desktop-settings"
spawn-at-startup "swaybg" "--image" "/home/dan/wallpapers/alena-aenami-all-i-need-1080p.jpg"
spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "swayosd-server"

// Disabled because it keeps breaking shit:
// spawn-at-startup "wl-clip-persist" "--clipboard" "regular"

//------------------------------------------------------------------------------
// WINDOWS

// Make the wallpaper stationary, rather than moving with workspaces.
layer-rule {
    // This is for swaybg; change for other wallpaper tools.
    // Find the right namespace by running niri msg layers.
    match namespace="^wallpaper$"
    place-within-backdrop true
}

window-rule {
    // Only draw the border *around* the window, don't draw it as a rectangle
    // *behind* the window.
    draw-border-with-background false
}

window-rule {
    match app-id="firefox"

    // For some reason, Firefox eats up one pixel of any border given to it.
    // So if the global border width is 2, a Firefox window will get a single
    // pixel border. It'll get *no border* when the width is 1.
    // So give it an extra pixel.
    border {
        width 2
    }
}

window-rule {
    match app-id="Renoise"

    default-column-width { proportion 0.98; }
}

window-rule {
    match app-id="tui"
    match app-id="console"
    match app-id="music"

    open-floating true
    default-column-width { proportion 0.9; }
    default-window-height { proportion 0.9; }
    opacity 0.9
}

//------------------------------------------------------------------------------
// WORKSPACES

workspace "brn"
workspace "web"
workspace "dot"
workspace "dev"
workspace "snd"

spawn-at-startup "niri" "msg" "action" "focus-workspace" "web"

// BRN

spawn-at-startup "obsidian"

window-rule {
    match app-id="obsidian" at-startup=true

    open-on-workspace "brn"
    open-focused false
    default-column-width { proportion 0.98; }
}

// WEB

spawn-at-startup "firefox"

window-rule {
    match app-id="firefox" at-startup=true

    open-on-workspace "web"
    open-focused false
    default-column-width { proportion 0.98; }
}

window-rule {
    match app-id="chatgpt"
    match app-id="whatsapp"
    match app-id="mail"

    open-on-workspace "web"
    open-focused true
}

// DOT

spawn-at-startup "code" "/home/dan/dot"

window-rule {
    match app-id="code" at-startup=true

    open-on-workspace "dot"
    open-focused false
}

// SND

spawn-at-startup "flatpak" "run" "com.bitwig.BitwigStudio"

window-rule {
    match app-id="Renoise" at-startup=true
    match app-id="sunvox" at-startup=true
    match app-id="bitwig" at-startup=true

    open-on-workspace "snd"
    open-focused false
    default-column-width { proportion 0.98; }
}
